@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg'); /* colocamos nosso fundo de madeira no body */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative; /* pra gente organizar a centralização */
    height: 100vh;    
}

section#telefone {
    /* abaixo as configurações do celular, que ficará no meio da tela */
    position: absolute; /* pra gente centralizar nosso telefone */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* independente do tamanho da tela, nosso telefone estará sempre no meio da tela */
    
    width: 311px;
    height: 627px;    
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela {
    /*configurações do tamanho do iframe*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    /* configuração para a section redes sociais, não para as imagens */
    text-align: right; /* para os links ficarem na direita da tela */
}

section#redes-sociais img {
    /* as imagens dentro das redes sociais terão cfgs diferentes */
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%; /* isso quer dizer que vai ocupar metade da imagem: se metade é redonda e a outra tb, ele vai formar um circulo */
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box; /* isso faz a borda fazer parte da caixa */
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px); /* isso fará com que os botões se mexam para esquerda e para cima quando passarmos o mouse por cima deles */
    box-shadow: 5px 5px 10px black;
    transition: transform 10s, border 0.5s; /* transition para o transform, para configurar quantos segundos ele vai levar pra fazer o movimento completo de -2px pra esquerda e para cima;
    utilizamos tb um transition para a borda, pra quanto tempo ela leva pra aparecer por completo quando passamos o mouse por cima */
}